# Explore Yellow trip dataset

In [14]:
import sys
import os

# This is the important part: get absolute path
project_root = os.path.dirname(os.path.abspath("__file__"))
etl_project_1_path = os.path.join(project_root, "etl_project_1")
src_path = os.path.join(etl_project_1_path,"src")

# Add src/ to sys.path if not already
if src_path not in sys.path:
    sys.path.insert(0, src_path)

In [18]:
from etl_package_maiyo008.etl import Extract


df = Extract.load_parquet('etl_project_1/yellow_tripdata_2025-01.parquet')
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2025-01-01 00:18:38   2025-01-01 00:26:59              1.0
1         1  2025-01-01 00:32:40   2025-01-01 00:35:13              1.0
2         1  2025-01-01 00:44:04   2025-01-01 00:46:01              1.0
3         2  2025-01-01 00:14:27   2025-01-01 00:20:01              3.0
4         2  2025-01-01 00:21:34   2025-01-01 00:25:06              3.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.60         1.0                  N           229           237
1           0.50         1.0                  N           236           237
2           0.60         1.0                  N           141           141
3           0.52         1.0                  N           244           244
4           0.66         1.0                  N           244           116

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         10.0    3.5      0.5        3.00           0.0
1             1          5.1    3.5      0.5        2.02           0.0
2             1          5.1    3.5      0.5        2.00           0.0
3             2          7.2    1.0      0.5        0.00           0.0
4             2          5.8    1.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee  \
0                    1.0         18.00                   2.5          0.0
1                    1.0         12.12                   2.5          0.0
2                    1.0         12.10                   2.5          0.0
3                    1.0          9.70                   0.0          0.0
4                    1.0          8.30                   0.0          0.0

   cbd_congestion_fee
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0

In [20]:
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 20 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               3475226 non-null  int32
 1   tpep_pickup_datetime   3475226 non-null  datetime64[us]
 2   tpep_dropoff_datetime  3475226 non-null  datetime64[us]
 3   passenger_count        2935077 non-null  float64
 4   trip_distance          3475226 non-null  float64
 5   RatecodeID             2935077 non-null  float64
 6   store_and_fwd_flag     2935077 non-null  object
 7   PULocationID           3475226 non-null  int32
 8   DOLocationID           3475226 non-null  int32
 9   payment_type           3475226 non-null  int64
 10  fare_amount            3475226 non-null  float64
 11  extra                  3475226 non-null  float64
 12  mta_tax                3475226 non-null  float64
 13  tip_amount             3475226 non-null  float64
 14  tolls_amount           3475226 non-null  float64
 15  improvement_surcharge  3475226 non-null  float64
 16  total_amount           3475226 non-null  float64
 17  congestion_surcharge   2935077 non-null  float64
 18  Airport_fee            2935077 non-null  float64
 19  cbd_congestion_fee     3475226 non-null  float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 490.5+ MB
None

#### Check for null columns
- From the top, we have analyzed the data by checking columns that have null values. This is essential since I want to have data without nulls on any column.
- Empty columns can potentially give you a wrong result when analyzing data. For example when finding aggregates, we will consider null columns which give a wrong mean value.
- We will deal with this by removing rows with empty columns. This is going to be okay, since we are removing only a few rows of the total rows.

- From our data properties info, datetime values are of a datetime value

In [21]:
print(df.head(5))

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2025-01-01 00:18:38   2025-01-01 00:26:59              1.0
1         1  2025-01-01 00:32:40   2025-01-01 00:35:13              1.0
2         1  2025-01-01 00:44:04   2025-01-01 00:46:01              1.0
3         2  2025-01-01 00:14:27   2025-01-01 00:20:01              3.0
4         2  2025-01-01 00:21:34   2025-01-01 00:25:06              3.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.60         1.0                  N           229           237
1           0.50         1.0                  N           236           237
2           0.60         1.0                  N           141           141
3           0.52         1.0                  N           244           244
4           0.66         1.0                  N           244           116

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             1         10.0    3.5      0.5        3.00           0.0
1             1          5.1    3.5      0.5        2.02           0.0
2             1          5.1    3.5      0.5        2.00           0.0
3             2          7.2    1.0      0.5        0.00           0.0
4             2          5.8    1.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee  \
0                    1.0         18.00                   2.5          0.0
1                    1.0         12.12                   2.5          0.0
2                    1.0         12.10                   2.5          0.0
3                    1.0          9.70                   0.0          0.0
4                    1.0          8.30                   0.0          0.0

   cbd_congestion_fee
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0

In [23]:
print(df.tail(20))

         VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
3475206         2  2025-01-31 23:24:52   2025-01-31 23:32:53              NaN
3475207         2  2025-01-31 23:06:34   2025-01-31 23:19:12              NaN
3475208         2  2025-01-31 23:50:58   2025-02-01 00:06:24              NaN
3475209         2  2025-01-31 23:11:42   2025-01-31 23:18:30              NaN
3475210         2  2025-01-31 23:32:42   2025-01-31 23:41:35              NaN
3475211         2  2025-01-31 23:26:24   2025-01-31 23:52:54              NaN
3475212         2  2025-01-31 23:00:46   2025-01-31 23:12:08              NaN
3475213         2  2025-01-31 23:23:37   2025-01-31 23:37:01              NaN
3475214         2  2025-01-31 23:52:34   2025-02-01 00:03:35              NaN
3475215         2  2025-01-31 23:32:04   2025-01-31 23:44:07              NaN
3475216         2  2025-01-31 23:58:20   2025-02-01 00:04:17              NaN
3475217         2  2025-01-31 23:38:25   2025-01-31 23:46:15              NaN
3475218         2  2025-01-31 23:26:03   2025-01-31 23:34:29              NaN
3475219         2  2025-01-31 23:21:00   2025-01-31 23:36:00              NaN
3475220         2  2025-01-31 23:26:31   2025-01-31 23:40:04              NaN
3475221         2  2025-01-31 23:01:48   2025-01-31 23:16:29              NaN
3475222         2  2025-01-31 23:50:29   2025-02-01 00:17:27              NaN
3475223         2  2025-01-31 23:26:59   2025-01-31 23:43:01              NaN
3475224         2  2025-01-31 23:14:34   2025-01-31 23:34:52              NaN
3475225         2  2025-01-31 23:56:42   2025-02-01 00:07:27              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
3475206           1.61         NaN               None            79
3475207           1.58         NaN               None           249
3475208           1.56         NaN               None           246
3475209           1.10         NaN               None            50
3475210           1.25         NaN               None           161
3475211           3.97         NaN               None           230
3475212           1.51         NaN               None           230
3475213           1.51         NaN               None           144
3475214           3.24         NaN               None            65
3475215           1.78         NaN               None            68
3475216           1.19         NaN               None           142
3475217           1.34         NaN               None           234
3475218           1.50         NaN               None            79
3475219           2.12         NaN               None           224
3475220           1.85         NaN               None            90
3475221           3.35         NaN               None            79
3475222           8.73         NaN               None           161
3475223           2.64         NaN               None           144
3475224           3.16         NaN               None           142
3475225           2.29         NaN               None           237

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
3475206           211             0        11.11    0.0      0.5         0.0
3475207           107             0        10.78    0.0      0.5         0.0
3475208           249             0         8.99    0.0      0.5         0.0
3475209           163             0         5.22    0.0      0.5         0.0
3475210            48             0         9.51    0.0      0.5         0.0
3475211           209             0        22.62    0.0      0.5         0.0
3475212           229             0        -4.75    0.0      0.5         0.0
3475213           231             0         8.60    0.0      0.5         0.0
3475214            80             0        17.34    0.0      0.5         0.0
3475215           230             0        12.14    0.0      0.5         0.0
3475216            50             0         7.65    0.0      0.5         0.0
3475217           100             0        -4.75    0.0      0.5         0.0
3475218            90             0         9.95    0.0      0.5         0.0
3475219           144             0        15.15    0.0      0.5         0.0
3475220           144             0        13.40    0.0      0.5         0.0
3475221           237             0        15.85    0.0      0.5         0.0
3475222           116             0        28.14    0.0      0.5         0.0
3475223           246             0        14.91    0.0      0.5         0.0
3475224           107             0        17.55    0.0      0.5         0.0
3475225           238             0        12.09    0.0      0.5         0.0

         tolls_amount  improvement_surcharge  total_amount  \
3475206           0.0                    1.0         15.86
3475207           0.0                    1.0         15.53
3475208           0.0                    1.0         13.74
3475209           0.0                    1.0          9.97
3475210           0.0                    1.0         14.26
3475211           0.0                    1.0         27.37
3475212           0.0                    1.0          2.07
3475213           0.0                    1.0         13.35
3475214           0.0                    1.0         18.84
3475215           0.0                    1.0         16.89
3475216           0.0                    1.0         12.40
3475217           0.0                    1.0          5.00
3475218           0.0                    1.0         14.70
3475219           0.0                    1.0         19.90
3475220           0.0                    1.0         18.15
3475221           0.0                    1.0         20.60
3475222           0.0                    1.0         32.89
3475223           0.0                    1.0         19.66
3475224           0.0                    1.0         22.30
3475225           0.0                    1.0         16.09

         congestion_surcharge  Airport_fee  cbd_congestion_fee
3475206                   NaN          NaN                0.75
3475207                   NaN          NaN                0.75
3475208                   NaN          NaN                0.75
3475209                   NaN          NaN                0.75
3475210                   NaN          NaN                0.75
3475211                   NaN          NaN                0.75
3475212                   NaN          NaN                0.75
3475213                   NaN          NaN                0.75
3475214                   NaN          NaN                0.00
3475215                   NaN          NaN                0.75
3475216                   NaN          NaN                0.75
3475217                   NaN          NaN                0.75
3475218                   NaN          NaN                0.75
3475219                   NaN          NaN                0.75
3475220                   NaN          NaN                0.75
3475221                   NaN          NaN                0.75
3475222                   NaN          NaN                0.75
3475223                   NaN          NaN                0.75
3475224                   NaN          NaN                0.75
3475225                   NaN          NaN                0.00